@model Desafio03PlatziCSharp.WebApi.Models.Imagen

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Imagen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Formato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ancho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
