@model Desafio03PlatziCSharp.WebApi.Models.Video

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta Seguro que desea borrar este elemento?</h3>
<div>
    <h4>Video</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ancho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
